<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Ingresos-Gastos:
        {% block title %}
         Lista
        {% endblock %}
    </title>
</head>
<style>
    table,th,td{
        border: 1px solid rgb(43, 102, 190);
    }
</style>
<body>
    <header>
        <h1>Aplicación web Flask BceroXXV</h1>
    </header>

    <section>
        {% block pageBase %}

        {% endblock %}
    </section>

    <footer>
        &copy;2026 - todos los derechos reservados - bootcampCeroXXV
    </footer>

    
</body>
</html>