<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingresos-Gastos:{{ title }}</title>
</head>
<style>
    table,th,td{
        border: 1px solid rgb(43, 102, 190);
    }
</style>
<body>
    <header>
        <div>
            <a href="/">Inicio</a>
            <a href="/new">Nuevo</a>
            <a href="/update">Editar</a>
            <a href="/delete">Borrar</a>
        </div>
        <h1>Aplicación web Flask BceroXXV</h1>
    </header>

    <section>
        {% block pageBase %}

        {% endblock %}
    </section>

    <footer>
        &copy;2026 - todos los derechos reservados - bootcampCeroXXV
    </footer>

    
</body>
</html>