{% extends "base.html" %}

{% block pageBase %}

<h2> {{titulo}} de ingresos y gastos</h2>
<form method="post" action="/new">
    <label>Fecha:</label><br>
    <input type="date" id="fecha" name="dfecha"><br>
    <label>Concepto:</label><br>
    <input type="text" id="concepto" name="dconcepto"><br><br>
    <label>Monto:</label><br>
    <input type="number" id="monto" name="dmonto"><br><br>
    <button type="submit">{{boton}}</button>
</form> 
<br>
<button>
    <a href="/"  >Volver </a>
</button>
{% endblock %}