<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<style>
    table,th,td{
        border: 1px solid rgb(61, 49, 175);
    }
</style>
<body>
    <h1>Esto es una lista de ingresos y gastos </h1>
<table>
  <tr>
    <th>Fecha</th>
    <th>Concepto</th>
    <th>Monto</th>
  </tr>
  <tr>
    <td>01/09/2025</td>
    <td>Salario</td>
    <td>1800€</td>
  </tr>
  <tr>
    <td>15/09/2025</td>
    <td>Compras de Alimentos</td>
    <td>-250€</td>
  </tr>
  <tr>
    <td>30/09/2025</td>
    <td>Compras de Ropa</td>
    <td>-150€</td>
  </tr>
</table>  

<a href="/new" >  Nuevo Registro </a>
</body>
</html>