{% extends "base.html" %}
{# esto es un comentario #}
{% block pageBase %}
    
<table class="table">
    <tr>
        <th>#</th>
        <th>Fecha</th>
        <th>Concepto</th>
        <th>Monto</th>
        <th>Acciones</th>
    </tr>
    {% for dato in lista %}
        <tr>
            <td>{{dato[0]}}</td>          
            <td>{{dato[1]}}</td>
            <td>{{dato[2]}}</td>
            <td>{{dato[3]}}€</td>
            <td>
                <a class="btn btn-primary"  href="/update/{{dato[0]}}">Modificar</a>
                <a class="btn btn-danger" href="/delete/{{dato[0]}}">Eliminar</a>
            </td>
        </tr>

    {% endfor %}
    
</table> 
<br>
<button class="btn btn-info">
    <a href="/new" >Nuevo Registro</a>
</button>
<br>

{% endblock %}