<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Esto es para el formulario</h1>

<form>
    <label for="fname">Fecha:</label><br>
    <input type="date" id="fecha" name="fecha"><br>
    <label for="lname">Concepto:</label><br>
    <input type="text" id="concepto" name="concepto"><br><br>
    <label for="lname">Monto:</label><br>
    <input type="number" id="monto" name="monto"><br><br>
    <input type="button" value="Guardar">
</form> 
 <br>
<button>
    <a href="/"  >Volver </a>
</button>


</body>
</html>