<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de cuentas: Lista</title>
    <link rel="stylesheet" href="/static/css/pico.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
</head>
<body>
    
    <header>
        <div class="container">
            <nav>
                <ul>
                    <li><strong style="color: aliceblue;">App Ingresos/Gastos</strong></li>
                </ul>
                <ul>
                    <li><a style="color: aliceblue;" href="#">Inicio</a></li>
                    <li><a style="color: aliceblue;" href="#">Nuevo</a></li>
                    
                </ul>
            </nav>

        </div>

    </header>

    <section class="container">
        {% block contenido %}
       
        {% endblock %}
    </section>

    <footer>
        <div class="container">
            &copy; 2026 BootcampXXV - Keepcoding
        </div>
       
    </footer>

</body>
</html>