header{
    border: 1px solid rgb(190, 43, 165);
}

table,th,td{
    border: 1px solid rgb(43, 102, 190);
}

.miEstilo{
    color: rgb(230, 142, 35);
    text-decoration: overline;
}

.miEstilo2{
    color: rgb(127, 136, 255);
    text-decoration: solid;
}

#quantity{
    background-color: aquamarine;
}